<footer class="pt-3">
  <div class="field has-addons has-addons-right mx-3">
    <p class="control w-100">
      <input class="input" type="text" data-testid="message-box" placeholder="Write a message...">
    </p>
    <p class="control">
      <a class="button is-info" data-testid="send-button">
        <strong><i class="fas fa-angle-right fa-lg"></i></strong>
      </a>
    </p>
  </div>
</div>
</footer>