<header>
  <nav class="navbar has-background-black-ter" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <h1 class="title has-text-info mx-3">VinChat <i class="fas fa-comments"></i></h1>
      </a>
    </div>
    
    <div class="navbar-end">
      <div class="navbar-item ">
        <div class="is-flex">
          <a class="button is-success is-small" data-testid="nickname-save">
            <strong><i class="fas fa-user-plus"></i></strong>
          </a>
          <div class="field ml-3">
            <div class="control pr-3">
              <input class="input is-small" type="text" data-testid="nickname-box" placeholder="New nickname">
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>