<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vin Chat</title>

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="css/geral.css">
  </head>
  <body class="has-background-black">
    <%- include('header'); %>

    <main class="is-flex">
      <%- include('article'); %>
     
      <%- include('aside'); %>
    </main>

    <%- include('footer'); %>
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script defer src="js/client.js"></script>
  </body>
</html>